<div class="body">
  <br>
  <br>
    <div class="row">
        <div class="col col-12 col-md-6 col-lg-3" *ngFor="let p of Products; index as i">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top rounded" [src]="p.ProductPath" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"> <b>Name: </b>{{p.Name | titlecase}} </h5>
                  <p class="card-text"><b>Description: </b> {{p.Desc}} </p>
                  <p class="card-text"><b>Price: </b> {{p.Price | currency: 'INR' }} </p>
                <!--<button href="#" class="btn btn-primary" (click) = "addToCart(i)" *ngIf="add !==i"> Add to Cart 

                </button>
                <div *ngIf= "add === i">
                  
              -->
                  

                  <div>
                   
                    
                    <button class="btn btn-primary"    (click)="addProductToCart(p)" routerLink="/cart" >Pet Me</button>
                  </div>
                 

                </div>
              </div>
              <br>
              <br>

        </div>
    </div>
    <paging></paging>

</div>